<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= t ".about_the" %>
  <em><%= link_to t(".link_refer"), "http://www.railstutorial.org/" %></em>
  <%= t ".about_is" %>
  <%= link_to t(".about_book"), "http://www.railstutorial.org/book" %>
  <%= t ".about_and" %>
  <%= link_to t(".about_scsr"), "http://screencasts.railstutorial.org/" %>
  <%= t ".about_content_sub" %>
  <%= link_to t(".ror"), "http://rubyonrails.org/" %>
  <%= t ".about_content_sub_1" %>
</p>
