<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= t ".help_content" %>
  <%= link_to t(".help_content_sub"), "http://www.railstutorial.org/help" %>
  <%= t ".help_content_1" %>
  <em><%= link_to t(".link_refer"), "http://www.railstutorial.org/book" %></em>
  <%= t ".help_content_1_sub" %>
</p>
