<h1><%= t "pass_reset_label" %></h1>
<p><%= t"pass_reset_content" %></p>
<%= link_to t("link_pass_reset"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p><%= t "link_expire_warn" %></p>
<p><%= t "ignore_content" %></p>
